body{
	background-color: black;
}

h1{
	color: white;
}

.buttons{
	transform: translateX(1px);

}

.buttons2 a:hover{
	opacity: 1;
	transition:0.1s;

}

.buttons2{
	transform: translateY(-48px) translateX(1px);

}
.moveup{
	transform: translateY(-48px) translateX(1px);

}
.buttons2 a{
	opacity: 0;

}

.buttons2 a:hover{
	opacity: 1;
	transition:0.1s;

}

p{
	color: red;
	font-family: Courier New;
	font-size: 125%;
	font-weight: bold;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

p{
	text-rendering: geometricPrecision; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 0;
	padding-bottom: 0;
}